# when this file is present, only explicitly listed legacy mojos are allowed to execute
# attempt to execute any other legacy mojo results in immediate build failure

# the format of the list is <groupId>:<artifactId>:<goal>

org.apache.maven.plugins:maven-resources-plugin:resources
org.apache.maven.plugins:maven-compiler-plugin:compile
