# when this file is present, only explicitly listed legacy mojos are allowed to execute
# attempt to execute any other legacy mojo results in immediate build failure

# the format of the whitelist is one of the following:
# <groupId>:<artifactId>:<goal> for blanket whitelisting
# <groupId>:<artifactId>:<goal>:<executionId>:<executionProjectGroupId>:<executionProjectArtifactId> for explicit execution whitelisting
# <groupId>:<artifactId>:<goal>:<executionId>:*:* to whitelist executions defined in the reactor root pom

org.apache.maven.plugins:maven-resources-plugin:resources:validate:whitelist-multi-module:whitelisted-executions
org.apache.maven.plugins:maven-resources-plugin:resources:allowed:*:*
